*.DS_Store
kk*
*.log
*.bak
build
*.a
*.bin*
*.prev*
*.pyc
*.o
*.o.gz
*.so
*.cer*
__pycache__
examples
.env
.make*
*.xg.*
*.swp
emsg
old_examples
timings
tim-asc-parm*
tmp/*
*_m
xgraph
Python/CritSectEx/CritSectEx_wrap.cxx
Python/CritSectEx/MSEmul.py
Python/CritSectEx/msemul.py
Python/CritSectEx/msemul_wrap.cxx
Python/CritSectEx/CritSectEx.py
Python/CritSectEx/CritSectEx_wrap.c
sse_mathfun/sse_mathfun_test.c
sse_mathfun/README
cpu_cycles_per_second.h
Python/*_numpy.h
